form {
    border: 10px solid rgba(165, 42, 42, 0.548);
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  

  button:hover {
    opacity: 0.8;
  }
  

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ff1100;
  }
  

  .imgcontainer {
    align-items: center;
    margin: 0px 0px 0px 0px ;
  }
  

  img.icon {
    width: 20%;
    border-radius: 20%;
  }
  

  .container {
    padding: 16px;
    align-items: center;
    width: 80%;
    padding-bottom: 2%;
  }
  

  span.psw {
    float: right;
    padding-top: 16px;
    padding-bottom: 1%;
  }
  
  @media screen and (max-width: 300px) {
    span.pwd {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
      background-color: crimson;
    }
  }